# R session artifacts
.Rproj.user
.Rhistory
.RData
.Ruserdata

# renv: ignore the local library/cache, but DO track
# .Rprofile, renv.lock, renv/activate.R and renv/settings.json
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/